%html
  %head
    %link{'rel' => 'stylesheet', 'href' => '/css/MainStyle.css'}

  %body
    #titlebar
      %a.titlebartext{'href' => '/'} The Public Blog
      %a.titlebartext{'href' => '/addpost'} New Post

    #bodycontainer
      %h2 Error 404: File not found!