/* Element Styling */
body {
  font-family:arial;
  font-size:18px;
  background:#fefefe;
  background:#f5dae1;
  color:#333;

  margin:0px;
  padding:0px;
}

/* Class Styling */
.titlebartext {
  text-shadow:0px 0px 8px #333;
  font-size:24px;
  color:#fff;

  margin:0px;
  padding:5px;
}

/* ID Styling */
#titlebar {
  background:#bf1942;
  padding:10px;
}

#bodycontainer {
  background:#fff;
  box-shadow:0px 0px 50px #cc4768;
  text-align:center;
  width:90%;
  height:100%;
  margin:0px auto 0px auto;
  padding:10px;
}

#postcontainer {
  width:85%;
  margin:0px auto 0px auto;
  padding:5px;
  box-shadow:0px 2.5px 0px #86122e, 0px -2.5px 0px #86122e;
}